.status-bar {
    background-color: rgb(238, 238, 238);
    font-weight: bold;
    height: 2.5em;
}

.status-bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}