.top-menu {
    background: url('../../assets/background_main.jpg');
}

.top-menu-overlay {
    background-color: rgba(0, 0, 0, 0.644);
    height: 100%;
}

.top-menu__content-container {
    display: flex;
    justify-content: center;
}

.top-menu__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin: 1em 0;
}

.top-menu__item {
    margin-bottom: 1em;
}